.root{
    -fx-background-image: url("/assets/background.jpg");
    -fx-background-repeat: no-repeat;
}
.button{
    -fx-font-family: sans-serif;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-padding: 30px;
    -fx-background-image: url("/assets/buttons.png");

}